/* Header */
header {
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
    background-color: #e0e0e0; 
}
#home header {
    background: no-repeat url(images/cliff_ocean.jpg) lightgrey;
    background-size: cover;
}
.main-header {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 2em auto 0 auto;
    min-height: 120px;
    width: 75%;
    border-radius: 8px;
}


.logo {
    position: relative;
    width: 120px;
    height: 100px;
}
.logo img {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    right: 12px;
}

/* Navigation */
.main-menu {
    font-weight: 400;
    margin: 0;
    padding: 0 20px;
}
.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid rgba(190, 190, 190, 0.5);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Arial', sans-serif; /* Standardizes font */
}
.main-menu ul li a {
    text-decoration: none;
    color: rgb(85, 85, 85);
}
.main-menu ul li a:hover {
    color: #6bbf59; /* Updated hover color */
}
.main-menu ul li.active {
    background: #6bbf59; /* New active background */
    border: none;
}
.main-menu ul li.active a {
    color: rgb(240, 240, 240);
}

/* Main Content */
main {
    padding: 2.5em 5em 2.5em 5em;
    margin: 1.5em 0;
    font-family: Arial, Helvetica, sans-serif;
}
main h1 {
    font-size: 2.3em;
    padding-bottom: 0.5em;
    color: #6bbf59; /* Adjusted main header color */
}
main h2 {
    font-size: 1.6em;
}

/* Partners */
section {
    width: 100%;
    background-color: #5a9ecf;
}
section #partners {  
    width: 100%;
    padding: 2em 0;
    margin: 0 auto;
    text-align: center;
}
section #partners .partner {
    display: inline-block;
    margin: 0 0.75em;
    padding: 1.5em;
    background-color: #ffffff;
    border-radius: 10%;
}
section #partners .partner img {
    width: 85px;
    height: 85px;
}

/* Footer */
footer {
    width: 100%;
    height: 150px;
    padding-bottom: 1em;
    background-color: #e8f8c5; /* Subtly different green */
}
footer #nondisclaimer .copy {
    padding: 3em 2em 3em 10em;
    float: left;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 8.25em;
    float: right;
}
footer #disclaimer {
    clear: both;
}

footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 16px;
    width: 16px;
    text-align: center;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.8;
}

/* Social Media Icons */
footer #nondisclaimer .social .fa-facebook {
    background: #365899;
    color: white;
}
footer #nondisclaimer .social .fa-twitter {
    background: #50ABF1;
    color: white;
}
footer #nondisclaimer .social .fa-instagram {
    background: #1A5276;
    color: white;
}

/* Media Queries */
@media (max-width: 768px) {
    footer #nondisclaimer .copy {
        padding: 3.5em 0;
        text-align: center;
        float: none;
        font-size: 0.9em;
    }
    footer #nondisclaimer .social {
        padding: 2.5em 0;
        margin: 0;
        text-align: center;
        float: none;
    }
    .navbar-main {
        width: 85%;
    }    
    header {
        height: 400px;
    }
}

@media (max-width: 992px) {
    .logo img {
        position: relative;
        bottom: 8px;
    }
    .main-menu {
        background-color: rgb(250, 250, 250);
    }
    .main-menu ul li {
        display: block;
        width: 100%;
        padding: 15px 20px;
        border-bottom: 1px solid rgb(202, 204, 202);
    }
    main {
        padding: 3em 1em;
        margin: 0;
    }
    #home .main-col-content {
        padding: 25px;
        min-height: 450px;
        margin-top: 1em;
    }
}
